<%
  if @lang_uri then
    base = "/#{@lang_uri}/"
  else
    base = "/"
  end
  page = request.path_info[1..-1]
  page.length > 0 || page = 'index'
  lang = I18n.locale.to_s.scan(/^[a-z]+/).first.downcase
  lANG = lang.upcase # Note l is lowercase
%>
<!DOCTYPE html>
<html dir="ltr" lang="<%= lang %>">
  <head>
    <meta name="description" content="<%= t("meta.description.#{page}") %>" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:site_name" content="Raúl Pedroche" />
    <meta name="google-site-verification" content="<%= ENV['GOOGLE_SITE_VERIFICATION'] %>" />
    <script>
/*!
loadCSS: load a CSS file asynchronously.
[c]2014 @scottjehl, Filament Group, Inc.
Licensed MIT
*/
function loadCSS( href, before, media ){
	"use strict";
	// Arguments explained:
	// `href` is the URL for your CSS file.
	// `before` optionally defines the element we'll use as a reference for injecting our <link>
	// By default, `before` uses the first <script> element in the page.
	// However, since the order in which stylesheets are referenced matters, you might need a more specific location in your document.
	// If so, pass a different reference element to the `before` argument and it'll insert before that instead
	// note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
	var ss = window.document.createElement( "link" );
	var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
	var sheets = window.document.styleSheets;
	ss.rel = "stylesheet";
	ss.href = href;
	// temporarily, set media to something non-matching to ensure it'll fetch without blocking render
	ss.media = "only x";
	// inject link
	ref.parentNode.insertBefore( ss, ref );
	// This function sets the link's media back to `all` so that the stylesheet applies once it loads
	// It is designed to poll until document.styleSheets includes the new sheet.
	function toggleMedia(){
		var defined;
		for( var i = 0; i < sheets.length; i++ ){
			if( sheets[ i ].href && sheets[ i ].href.indexOf( href ) > -1 ){
				defined = true;
			}
		}
		if( defined ){
			ss.media = media || "all";
		}
		else {
			setTimeout( toggleMedia );
		}
	}
	toggleMedia();
	return ss;
}
    </script>
    <script>
      loadCSS("//brick.a.ssl.fastly.net/EB+Garamond:400");
      loadCSS("//cdn.jsdelivr.net/gh/twbs/bootstrap@3.4.1/dist/css/bootstrap.min.css");
    </script>
    <noscript>
      <link rel="stylesheet" type="text/css" href="//brick.a.ssl.fastly.net/EB+Garamond:400" />
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/twbs/bootstrap@3.4.1/dist/css/bootstrap.min.css" />
    </noscript>
    <link rel="stylesheet" type="text/css" href="/css/starter-template.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" hreflang="en"
    href="http://www.raulpedroche.es/en<%= request.path_info %>" />
    <link rel="alternate" hreflang="es"
    href="http://www.raulpedroche.es/es<%= request.path_info %>" />
    <% if page == 'resume' %>
      <link rel="alternate" hreflang="es" type="application/pdf"
      href="http://www.raulpedroche.es/attachments/CVRaulPedrocheNovillo.pdf" />
    <% end %>
    <title><%= t("title.#{page}") %></title>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="<%= base %>">Raúl Pedroche</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li <%= if page == 'index' then 'class="active"' end %>>
              <a href="<%= base %>"><%= t('header.about') %></a>
            </li>
            <li <%= if page == 'resume' then 'class="active"' end %>>
              <a href="<%= base %>resume"><%= t('header.resume.title') %></a>
            </li>
            <li <%= if page == 'contact' then 'class="active"' end %>>
              <a href="<%= base %>contact"><%= t('header.contact') %></a>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-flag"></span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/es<%= request.path_info %>">Castellano</a></li>
                <li><a href="/en<%= request.path_info %>">English</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </header>
    <!-- Cookies warning -->
    <div class="alert alert-warning alert-dismissable"
      style="display:none;" id="alert-cookies">
      <button type="button" class="close" data-dismiss="alert"
        aria-hidden="true">&times;</button>
      <%= t('alert.cookies') %>
    </div>
    <!-- End cookies warning -->
    <% flash.keys.each do |alert| %>
      <div class="alert <%= alert.to_s.gsub('_', '-') %> alert-dismissible" role="alert">
        <%= flash[alert] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <div class="container">
      <div class="starter-template">
        <%= yield %>
      </div><!-- starter-template -->
    </div><!-- container -->
    <footer id="footer">
      <div class="container">
        <p>
        <a href="http://es.linkedin.com/in/raulpedrochenovillo/"><img src="/images/linkedin.png" alt="[LinkedIn]" width="32" height="32" /></a>
        <a href="https://twitter.com/pedrocheisback"><img src="/images/twitter.png" alt="[Twitter]" width="32" height="32" /></a>
        <a href="https://www.facebook.com/raul.pedrochenovillo"><img src="/images/facebook.png" alt="[FB]" width="32" height="32" /></a>
        <a href="http://raulete.tumblr.com/"><img src="/images/tumblr.png" alt="[Tumblr]" width="32" height="32" /></a>
        <a href="https://github.com/pecio"><img src="/images/github.png" alt="[GitHub]" width="32" height="32" /></a>
        <a href="http://stackoverflow.com/users/706716/raul-pedroche"><img src="/images/stackoverflow.png" width="32" height="32" alt="[StackOverflow]" /></a>
        </p>
      </div>
    </footer>

    <script src="//cdn.jsdelivr.net/gh/jquery/jquery@3.5.1/dist/jquery.min.js">
    </script>
    <script src="//cdn.jsdelivr.net/gh/twbs/bootstrap@3.4.1/dist/js/bootstrap.min.js">
    </script>
    <script src="//www.google.com/recaptcha/api.js">
    </script>
    <script src="/js/raulete.js"></script>
    <% if request.path_info == '/contact' then %>
      <script src="//cdn.jsdelivr.net/gh/jquery-validation/jquery-validation@1.19.2/dist/jquery.validate.min.js">
      </script>
      <script src="<%= base %>contactform.js"></script>
      <script>
        function onSubmit(token) {
          document.getElementById("contact-form").submit();
        }
      </script>
    <% end %>
  </body>
</html>
